# Output files
*.vcd
*.bin

# Editors
.vscode

# iverilog
*.iv

# QuestaSim
work

# macOS
.DS_Store

# Bender
Bender.local

# CocoTB
__pycache__
sim_build
results.xml

# Verilator
obj_dir

# Berkely TestFloat 3
berkeley-testfloat-3
berkeley-softfloat-3
